<template>
  <div class="home">
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand href="#">NavBar</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-form-input
                size="sm"
                class="mr-sm-2"
                placeholder="Search"
              ></b-form-input>
              <b-button
                variant="outline-success"
                size="sm"
                class="my-2 my-sm-0"
                type="submit"
                >Search</b-button
              >
            </b-nav-form>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div class="montu">
      <b-container>
        <b-row class="montu-row">
          <b-col class="col-12">
            <h1>Hello World</h1>
          </b-col>
          <b-col class="col-12">
            <p>
              This is a template for a simple marketing or informational
              website. It includes a large callout called a jumbotron and three
              supporting pieces of content. Use it as a starting point to create
              something more unique.
            </p>
          </b-col>
          <b-col class="col-12">
            <b-button variant="primary" size="lg">
              Learn more >>
            </b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <b-container class="pt-5 pb-5">
      <b-row>
        <b-col class="col-12 d-flex justify-content-center" md="4">
          <b-card
            title="Heading"
            tag="article"
            style="max-width: 20rem;"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button
              href="http://google.com.br"
              target="__blank"
              variant="secondary"
              >Go somewhere</b-button
            >
          </b-card>
        </b-col>
        <b-col class="col-12 d-flex justify-content-center" md="4">
          <b-card
            title="Heading"
            tag="article"
            style="max-width: 20rem;"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button
              href="http://google.com.br"
              target="__blank"
              variant="secondary"
              >Go somewhere</b-button
            >
          </b-card>
        </b-col>
        <b-col class="col-12 d-flex justify-content-center" md="4">
          <b-card
            title="Heading"
            tag="article"
            style="max-width: 20rem;"
            class="mb-2"
          >
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>

            <b-button
              href="http://google.com.br"
              target="__blank"
              variant="secondary"
              >Go somewhere</b-button
            >
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <footer>
      <b-container class="pb-2">
        <b-row>
          <b-col class="col-12">
            <hr />
          </b-col>
          <b-col class="12">
            <span>© Pedro Montuani</span>
          </b-col>
        </b-row>
      </b-container>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {}
};
</script>

<style lang="scss" scoped>
.montu {
  background-color: #e9ecef;
}
.montu-row {
  padding-top: 80px;
  padding-bottom: 80px;
}

h1 {
  font-size: 3rem;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
